<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Small Town Lottery</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-card>
	        <img class="logo" src="assets/imgs/smalltownlottery.png" />
  <ion-card-content>
    <ion-card-title text-center>
      Login
      </ion-card-title>
  </ion-card-content>
</ion-card>

<ion-list>

  <ion-item>
    <ion-label floating>Username</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>

</ion-list>

<div padding>
    <button ion-button full (click)="doLogin()">Login</button>
</div>

</ion-content>



