<ion-tabs [selectedIndex]="myIndex">
  <ion-tab [root]="elevenRoot" tabTitle="11 AM" tabIcon="clock"></ion-tab>
  <ion-tab [root]="fourRoot" tabTitle="4 PM" tabIcon="md-timer"></ion-tab>
  <ion-tab [root]="nineRoot" tabTitle="9 PM" tabIcon="ios-time"></ion-tab>
</ion-tabs>

  <ion-fab left bottom>
    <button ion-fab color=""><ion-icon name="arrow-dropup"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="calendarPage()"><ion-icon ios="ios-calendar" md="md-calendar"></ion-icon></button>
      <button ion-fab (click)="payoutsPage()"><ion-icon ios="ios-person" md="md-person"></ion-icon></button>
      <button ion-fab (click)="addbetPage()"><ion-icon ios="ios-cash" md="md-cash"></ion-icon></button>
      <button ion-fab (click)="dailyprintPage()"><ion-icon ios="ios-print" md="md-print"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

