<!--
  Generated template for the ModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Total: 100.00</ion-title>
    <ion-buttons end>
    	<button ion-button (click)="closeModal()">Close</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-grid>
  <ion-row text-center>
    <ion-col col-2>No.</ion-col>
    <ion-col col-2>Game</ion-col>
    <ion-col col-2>Type</ion-col>
    <ion-col col-2>Amt</ion-col>
    <ion-col col-2>Win</ion-col>
  </ion-row>
<ion-list>
  <ion-item-sliding>
    <ion-item class="item-md-custom">
      <ion-row text-center>
        <ion-col col-2><h2>123</h2></ion-col>
        <ion-col col-2>Stl</ion-col>
        <ion-col col-2>S</ion-col>
        <ion-col col-2>20</ion-col>
        <ion-col col-2>20,000</ion-col>
      </ion-row>
    </ion-item>
    <ion-item-options side="right">
      <button ion-button color="danger">
        <ion-icon name="trash"></ion-icon>
        Delete
      </button>
    </ion-item-options>
  </ion-item-sliding>
  <ion-item-sliding>
    <ion-item class="item-md-custom">
      <ion-row text-center>
        <ion-col col-2><h2>123</h2></ion-col>
        <ion-col col-2>Stl</ion-col>
        <ion-col col-2>S</ion-col>
        <ion-col col-2>20</ion-col>
        <ion-col col-2>20,000</ion-col>
      </ion-row>
    </ion-item>
    <ion-item-options side="right">
      <button ion-button color="danger">
        <ion-icon name="trash"></ion-icon>
        Delete
      </button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
    <ion-fab left bottom class="print-btn">
        <button ion-fab color="primary" (click)="load()"><ion-icon name="print"></ion-icon>
        </button>
    </ion-fab>

</ion-grid>

</ion-content>
