page-modal {
.print-btn{position: fixed;}
ion-item.item-md-custom.item.item-block.item-md:first-child {
    padding-left: 0;
    border-bottom: 1px solid #dedede;
    border-top: 1px solid #dedede;
}
ion-item.item-md-custom.item.item-block.item-md {
    border-bottom: 1px solid #dedede;
}
}
