<!--
  Generated template for the BettingstltabPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    </ion-buttons>
    <ion-title>Swer3</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-content>
            <ion-card-title text-center> SWER3 Betting form </ion-card-title>
        </ion-card-content>

        <ion-grid>
            <ion-col col-12>
                <ion-list>
                    <ion-item>
                        <ion-label>Date & Time</ion-label>
                        <ion-select [(ngModel)]="time" interface="action-sheet">
                            <ion-option value="1">June 12, 1991 (11 AM)</ion-option>
                            <ion-option value="2">June 12, 1991 (4 PM)</ion-option>
                            <ion-option value="3">June 12, 1991 (4 PM)</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-list>
            </ion-col>
            <ion-row>
                <ion-col col-6>
                    <ion-list>
                        <ion-item>
                            <ion-label floating>Stl Number</ion-label>
                            <ion-input maxlength="3" type="number"></ion-input>
                        </ion-item>
                    </ion-list>
                </ion-col>
                <ion-col col-6>
                    <ion-list>
                        <ion-item>
                            <ion-label floating>Amount</ion-label>
                            <ion-input maxlength="3" type="number"></ion-input>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <ion-list>
                        <ion-item>
                            <ion-label>Select Bet Type</ion-label>
                            <ion-select [(ngModel)]="betoption" (ionChange)="onChange(betoption)" interface="action-sheet">
                                <ion-option value="straight">Straight</ion-option>
                                <ion-option value="rambled">Rambled</ion-option>
                            </ion-select>
                        </ion-item>
                    </ion-list>
                </ion-col>
                <ion-col col-12>
                    <ion-list>
                        <ion-item [hidden]="!value">
                            <ion-label>Select Ramble Type</ion-label>
                            <ion-select [(ngModel)]="rambletype" interface="action-sheet">
                                <ion-option value="ramble1">Ramble 1</ion-option>
                                <ion-option value="ramble2">Ramble 2</ion-option>
                                <ion-option value="ramble3">Ramble 3</ion-option>
                                <ion-option value="ramble4">Ramble 4</ion-option>
                            </ion-select>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    
    <ion-grid>
        <ion-row>
            <ion-col col-12>
                <button ion-button (click)="showToast('top')" full color="primary">Add Bet</button>
            </ion-col>
            <ion-col col-12>
                <button ion-button (click)="openModal()" full color="primary">Review Bets</button>
            </ion-col>
            <ion-col col-12>
<ion-item>
  <button ion-button full color="danger">Reprint Ticket   <ion-badge item-end>2</ion-badge></button>
</ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
