<!--
  Generated template for the PrintPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>PrintPage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list>
	<h4 text-center>Small Town Lotter<br><span text-center>Iligan City</span></h4>
	<p><strong>Usher:</strong> Ester Gabutan</p>
	<p><strong>Draw:</strong> Tue, May 15, 2018 11:00AM</p>
	<p><strong>Name:</strong></p>
	<p><strong>Ticket No:</strong></p>
	<p><strong>Bet Date:</strong></p>
	<p><strong>Bet Time:</strong> 12:42 AM</p>
	<ion-grid>
	  <ion-row>
	    <ion-col>
	      No.
	    </ion-col>
	    <ion-col>
	      Game
	    </ion-col>
	    <ion-col>
	      Amt
	    </ion-col>
	    <ion-col>
	      Win
	    </ion-col>
	  </ion-row>
	  <ion-row>
	    <ion-col>
	      <p>321</p>
	    </ion-col>
	    <ion-col>
	      <p>S</p>
	    </ion-col>
	    <ion-col>
	      <p>3</p>
	    </ion-col>
	    <ion-col>
	      <p>1,500</p>
	    </ion-col>
	  </ion-row>
	</ion-grid>
	<h5>Total Amount: 3:00</h5>
	<p>TXN CODE: 6272-9568-5658-4875</p>
	<p>Winning Ticket should be claimed within a year after the bet date, otherwise winning prize shall be forfeited</p>
</ion-list>

	  <ion-row>
	    <ion-col>
	     <button ion-button color="primary" (click)="goPrintBack()">
  <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon> GO BACK TO BETTING FORM
        </button>
	    </ion-col>
	  </ion-row>
</ion-content>
