<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    </ion-buttons>
    <ion-title>Swer3</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
<ion-card>

    <ion-list no-border>

    <ion-list-header>
      Change Password
    </ion-list-header>

	<ion-list>

	  <ion-item>
	    <ion-label floating>Old Password</ion-label>
	    <ion-input type="text"></ion-input>
	  </ion-item>

	  <ion-item>
	    <ion-label floating>New Password</ion-label>
	    <ion-input type="password"></ion-input>
	  </ion-item>

	  <ion-item>
	    <ion-label floating>ConfirmPassword</ion-label>
	    <ion-input type="password"></ion-input>
	  </ion-item>
	</ion-list>

  </ion-list>
    <ion-grid>
        <ion-row>
            <ion-col col-12>
                <button ion-button full color="primary">Save</button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-card>
<ion-card>

    <ion-list no-border>

    <ion-list-header>
      Printer Setup
    </ion-list-header>

    <ion-grid>
        <ion-row>
            <ion-col col-12>
                <button ion-button full color="primary">Select Printer</button>
            </ion-col>
            <ion-col col-12>
                <button ion-button full color="primary">Test Printer</button>
            </ion-col>
        </ion-row>
    </ion-grid>
  </ion-list>

</ion-card>

</ion-content>
