page-bettingstltab {
.list-md .item-input:last-child {
    border-bottom: 3px solid #b5b5b5;
}
ion-item.item.item-block.item-md.item-select {
    border-bottom: 3px solid #b5b5b5;
}
        ion-badge.badge.badge-md {
    margin: 9px 8px 9px 8px;
}
ion-card-content.card-content.card-content-md {
    padding-bottom: 0;
}
}
