
<ion-header>
  <ion-navbar>
    <ion-title>
      DateTime
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">


  <ion-list>
    <ion-item>
      <ion-label>Start Date</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.month"></ion-datetime>
    </ion-item>
  </ion-list>

  <ion-card>

    <ion-card-header>
     January 0, 0000 - 11 AM
    </ion-card-header>

    <ion-card-content>
      <!-- Add card content here! -->

<h4>Daily Sales : 3,450</h4>
<h4>STL : 345</h4>
<h4>SWER3 : 543</h4>
<h4>PARES : 40:30</h4>
<h4>Winners : 1</h4>
<h4>Number of tickets : 345</h4>
<h4>Cancelled : 6</h4>
<h4>Transactions : 345</h4>
<h4>Payouts : 345</h4>

    </ion-card-content>

  </ion-card>
  <ion-card>

    <ion-card-header>
      January 0, 0000 - 4 PM
    </ion-card-header>

    <ion-card-content>
      <!-- Add card content here! -->

<h4>Sales : 3,450</h4>
<h4>STL : 345</h4>
<h4>SWER3 : 543</h4>
<h4>PARES : 40:30</h4>
<h4>Winners : 1</h4>
<h4>Number of tickets : 345</h4>
<h4>Cancelled : 6</h4>
<h4>Transactions : 345</h4>
<h4>Payouts : 345</h4>

    </ion-card-content>

  </ion-card>
  <ion-card>

    <ion-card-header>
      January 0, 0000 - 9 PM
    </ion-card-header>

    <ion-card-content>
      <!-- Add card content here! -->

<h4>Sales : 3,450</h4>
<h4>STL : 345</h4>
<h4>SWER3 : 543</h4>
<h4>PARES : 40:30</h4>
<h4>Winners : 1</h4>
<h4>Number of tickets : 345</h4>
<h4>Cancelled : 6</h4>
<h4>Transactions : 345</h4>
<h4>Payouts : 345</h4>

    </ion-card-content>

  </ion-card>
</ion-content>

<style>
  ion-list:first-child {
    margin-top: 32px;
  }

  ion-list + ion-list {
    margin-top: 0;
  }
</style>
