page-bettingtabs {
  #notification-button {            
            position: relative;
            top:1px;
            right: 1px;
            overflow: visible!important;
        }


   #notifications-badge {
    background-color: red;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 100%;
        }

        ion-badge.badge.badge-md {
    margin: 9px 8px 9px 8px;
}
}
