<ion-tabs [selectedIndex]="myBet">
    <ion-tab tabsHideOnSubPages="true" [root]="bettingstltabRoot" tabTitle="STL" tabIcon="information-circle"></ion-tab>
    <ion-tab [root]="bettingswertreetabRoot" tabTitle="SWER3" tabIcon="information-circle"></ion-tab>
    <ion-tab [root]="bettingparestabRoot" tabTitle="PARES" tabIcon="information-circle"></ion-tab>
</ion-tabs>


