<!--
  Generated template for the PrintPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Daily Report</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-list text-center>
        <h4>Small Town Lotter<br><span text-center>Iligan City</span></h4>
        <p><strong>Draw:</strong> Tue, May 15, 2018 11:00AM</p>
        <p><strong>Name: Jediah Nelmida</strong></p>
        <p><strong>Address:Suarez Iligan City</strong></p>
        <p><strong>Printed time: 11:45pm</strong></p>
        <br>
        <ion-list-header>
        <h4>End of the day sales</h4>
        </ion-list-header>
        <ion-item>Gross Sales: <span float-right> 2.00</span></ion-item>
        <ion-item>Less Payments: <span float-right> 2.00</span></ion-item>
        <ion-item>Net Sales: <span float-right> 2.00</span></ion-item>
        <ion-item>Less Commision: <span float-right> 2.00</span></ion-item>
        <ion-item>FOR DEPOSIT: <span float-right> 2.00</span></ion-item>
    </ion-list>
    <ion-fab right edge top>
        <button ion-fab color="primary">
            <ion-icon name="print"></ion-icon>
        </button>
    </ion-fab>
</ion-content>