<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    </ion-buttons>
    <ion-title>Small Town Lottery 11 AM</ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content padding class="gradient-pomegranate">
  <ion-grid>
    <ion-card class="gradient-green-tea">
  <ion-card-content>
        <ion-row >
      <ion-col>
        <div text-center class="labels" >
          <img width="50" height="auto" class="logo" src="assets/imgs/smalltownlottery.png" />
          <h2>954</h2>
          <p>STL</p>
        </div>
      </ion-col>
      <ion-col>
        <div text-center class="labels">
        <img width="80" height="auto" class="logo" src="assets/imgs/swer3-lotto-Result-today.png" />
           <h2>768</h2>
          <P>Swer3</P>
        </div>
      </ion-col>
      <ion-col>
        <div text-center class="labels">
        <img width="80" height="auto" class="logo" src="assets/imgs/smalltownlottery-result.png" />
           <h2>40-30</h2>
          <P>Pares</P>
        </div>
      </ion-col>
    </ion-row>
  </ion-card-content>

</ion-card>


<ion-card class="gradient-blackberry">
  <ion-item text-center>
    <h1>Php 5,000.00</h1>
    <p>Draw Sales</p>
  </ion-item>
  <ion-card-content>
  <ion-item>
    <span item-left>Cancelled</span>
    <span item-left>(1)</span>
    <button ion-button icon-left clear item-end>
      <ion-icon name="navigate"></ion-icon>
      View
    </button>
  </ion-item>
  <ion-item>
    <span item-left>Transactions</span>
    <span item-left>(4)</span>
    <button ion-button icon-left clear item-end>
      <ion-icon name="navigate"></ion-icon>
      View
    </button>
  </ion-item>
  <ion-item>
    <span item-left>Today`s Payouts</span>
    <span item-left>(5)</span>
    <button ion-button icon-left clear item-end>
      <ion-icon name="navigate"></ion-icon>
      View
    </button>
  </ion-item>
  </ion-card-content>
</ion-card >
<ion-card class="gradient-pomegranate">
  <ion-card-content>
    <ion-row>
    <ion-col col-6 text-center>
      <div text-center>
          <!-- Advanced: explicity set the icon for each platform -->
  <ion-icon class="blue" ios="ios-medal" md="md-medal"></ion-icon>
        <h2>10</h2>
        <p>Number Of Winners</p>
      </div>
    </ion-col>
    <ion-col col-6>
      <div text-center>
          <ion-icon class="blue" ios="ios-paper" md="md-paper"></ion-icon>
         <h2>4,575</h2>
        <p>Number Of Tickets</p>
      </div>
    </ion-col>
  </ion-row>
  </ion-card-content>
</ion-card >
</ion-grid>





</ion-content>
